/* Импорт переменных и шрифтов */
:root {
	--black: black;
	--red: #f72540;

	--text-color: black;

	--text-color: var(--black);
	--text-sub-color: var(--sub-black);
	--text-sub-color: var(--sub-black);
	--text-d-color: var(--d-black);
	--text-d-color: var(--d-black);
	--text-sub-d-color: var(--sub-d-black);
	--text-sub-d-color: var(--sub-d-black);

	--fz-0: 0.8rem;
	--fz-1: 1.2rem;
	--fz-2: 1.4rem;
	--fz-3: 2rem;
	--fz-4: 3rem;

	--lh-1: 1.25;
	--lh-2: 1.5;
	--lh-3: 1.75;

	--max-text-width: 36em;

	/* https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);

	/* https://material.io/guidelines/motion/duration-easing.html#duration-easing-common-durations */
	--animate-duration-timeout: 3000ms;
	--animate-duration-effect: 600ms;
	--animate-duration-enter: 200ms;
	--animate-duration-leave: 200ms;
	--animate-duration-cancel: 300ms;
}
/* https://medium.com/p/88d6a5ba1862 */
@font-face {
	font-family: 'Museo Sans';
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/MuseoSansCyrillic-300.woff2') format('woff2'),
		url('./fonts/MuseoSansCyrillic-300.woff') format('woff');
}
@font-face {
	font-family: 'Museo Sans';
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/MuseoSansCyrillic-700.woff2') format('woff2'),
		url('./fonts/MuseoSansCyrillic-700.woff') format('woff');
}
/* Импорт стилей сторонних модулей */
/* @import url('./../node_modules/swiper/dist/css/swiper.css');
@import url('./../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css'); */
/* Импорт стилей собственных компонентов */
.elem {
	width: 300px;
	background-color: black;
	background-color: var(--black);
	height: 100px;
}
.elem__children {
		width: 100px;
		background-color: #f72540;
		background-color: var(--red);
		height: 70px;
	}
.question {
	width: 300px;
	background-color: #f72540;
	background-color: var(--red);
	height: 100px;

	font-family: 'Museo Sans';
}
/* Базовые стили */
/* stylelint-disable selector-max-universal */
* {
	box-sizing: border-box;
}
*:focus {
		outline: none;
	}
*::before,
	*::after {
		box-sizing: border-box;
	}
/* stylelint-enable */
/* stylelint-disable declaration-no-important */
[hidden] {
	display: none !important;
}
/* stylelint-enable */
@media (min-width: 1200px) {
html {
		font-size: 112.5%
}
	}
body {
	color: black;
	color: var(--text-color);
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
}
.fout body {
		font-family: 'Gotham Pro', sans-serif;
	}
body.disable-hover {
		pointer-events: none;
	}
mark {
	background-color: transparent;
}
sup {
	font-size: 0.5em;
	vertical-align: top;
}
input,
input[type='date'],
textarea {
	color: black;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 1em;
}
input::-ms-input-placeholder, input[type='date']::-ms-input-placeholder, textarea::-ms-input-placeholder {
		color: var(--d-black);
		color: var(--text-d-color);
	}
input::placeholder, input[type='date']::placeholder, textarea::placeholder {
		color: var(--d-black);
		color: var(--text-d-color);
	}
textarea {
	line-height: 1;
	resize: vertical;
}
select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: black;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 1em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}
button {
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: black;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 1em;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
.fout button {
		font-family: 'Gotham Pro', sans-serif;
	}
#barba-wrapper {
	position: relative;
}
