/* Импорт переменных и шрифтов */
:root {
	--black: black;
	--red: #f72540;
	--purple: #202d33;
	--purple-light: #566473;

	--green-light: rgba(255, 0, 0, 0.5);  /* Осветляет */
	--link-ul-color: rgb(255, 128, 128); /* Делает прозрачным */
	--d-black: rgba(0, 0, 0, 0.38);
	--link-ul-a-color: rgba(32, 45, 51, 0.5);
	--link-ul-a-color: rgba(32, 45, 51, 0.5);

	--text-color: black;

	--text-color: var(--black);
	--text-sub-color: var(--sub-black);
	--text-sub-color: var(--sub-black);
	--text-d-color: rgba(0, 0, 0, 0.38);
	--text-d-color: var(--d-black);
	--text-sub-d-color: var(--sub-d-black);
	--text-sub-d-color: var(--sub-d-black);

	--fz-0: 0.7rem;
	--fz-1: 0.9rem;
	--fz-1-c: 0.85rem;
	--fz-2: 1.1rem;
	--fz-2-c: 1.35rem;
	--fz-3: 2.22rem;
	--fz-4: 3rem;

	--lh-1: 1.25;
	--lh-2: 1.5;
	--lh-3: 1.75;

	--max-text-width: 36em;

	/* https://material.io/guidelines/motion/duration-easing.html#duration-easing-common-durations */
	--animate-duration-timeout: 2500ms;
	--animate-duration-effect: 500ms;
	--animate-duration-enter: 250ms;
	--animate-duration-leave: 200ms;
	--animate-duration-micro: 100ms;

	/* https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves */
	--animate-easing-linear: cubic-bezier(0, 0, 1, 1);
	--animate-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animate-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
	--animate-easing-acceleration: cubic-bezier(0.4, 0, 1, 1);
}
/* https://medium.com/p/88d6a5ba1862 */
/* @custom-media --only-phone (width < 600px); */
@font-face {
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/GothamPro.woff2') format('woff2'), url('./fonts/GothamPro.woff') format('woff');
}
@font-face {
	font-family: 'Gotham Pro';
	font-style: italic;
	font-weight: 400;
	src: url('./fonts/GothamPro-Italic.woff2') format('woff2'), url('./fonts/GothamPro-Italic.woff') format('woff');
}
@font-face {
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: 200;
	src: url('./fonts/GothamPro-Light.woff2') format('woff2'), url('./fonts/GothamPro-Light.woff') format('woff');
}
@font-face {
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/GothamPro-Bold.woff2') format('woff2'), url('./fonts/GothamPro-bold.woff') format('woff');
}
/* Импорт стилей сторонних модулей */
/* @import url('./../node_modules/swiper/dist/css/swiper.css');
@import url('./../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css'); */
/* Импорт стилей собственных компонентов */
.elem {
	width: 300px;
	background-color: black;
	background-color: var(--black);
	height: 100px;
}
.elem__children {
		width: 100px;
		background-color: #f72540;
		background-color: var(--red);
		height: 70px;
	}
.question {
	width: 300px;
	height: 100px;
	color: rgba(0, 0, 0, 0.38);
	color: var(--d-black);
	background-color: blue;
}
@media (max-width: 899px) {
.question {
		background-color: red
}
	}
@media (max-width: 599px) {
.question {
		background-color: yellow
}
	}
.question a {
		background-image: linear-gradient(90deg, rgb(255, 128, 128), rgb(255, 128, 128) 100%);
		background-image: linear-gradient(90deg, var(--link-ul-color), var(--link-ul-color) 100%);
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: 10px 1px;
		color: red;
		text-decoration: none;
		transition-duration: 100ms;
		transition-duration: var(--animate-duration-micro);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-timing-function: var(--animate-easing-standard);
	}
.question a:hover,
		.question a:focus {
			background-image: linear-gradient(90deg, rgba(32, 45, 51, 0.5), rgba(32, 45, 51, 0.5) 100%);
			background-image: linear-gradient(90deg, var(--link-ul-a-color), var(--link-ul-a-color) 100%);
			background-position: 0 100%;
			background-repeat: repeat-x;
			background-size: 10px 1px;
			color: var(--link-a-color);
			color: var(--link-a-color);
		}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;

	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
}
@media (max-width: 1599px) {
.wrapper {
		width: 1400px;
		padding-left: 0;
		padding-right: 0
}
	}
/* Базовые стили */
/* stylelint-disable selector-max-universal */
* {
	box-sizing: border-box;
}
*:focus {
		outline: none;
	}
*::before,
	*::after {
		box-sizing: border-box;
	}
/* stylelint-enable */
/* stylelint-disable declaration-no-important */
[hidden] {
	display: none !important;
}
/* stylelint-enable */
@media (max-width: 1199px) {
html {
		font-size: 112.5%
}
	}
body {
	color: black;
	color: var(--text-color);
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
}
.fout body {
		font-family: 'Gotham Pro', sans-serif;
	}
body.disable-hover {
		pointer-events: none;
	}
mark {
	background-color: transparent;
}
sup {
	font-size: 0.5em;
	vertical-align: top;
}
input,
input[type='date'],
textarea {
	color: black;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 1em;
}
input::-ms-input-placeholder, input[type='date']::-ms-input-placeholder, textarea::-ms-input-placeholder {
		color: rgba(0, 0, 0, 0.38);
		color: var(--text-d-color);
	}
input::placeholder, input[type='date']::placeholder, textarea::placeholder {
		color: rgba(0, 0, 0, 0.38);
		color: var(--text-d-color);
	}
textarea {
	line-height: 1;
	resize: vertical;
}
select {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: black;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 1em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}
button {
	background-color: transparent;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	color: black;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
	font-size: 1em;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
.fout button {
		font-family: 'Gotham Pro', sans-serif;
	}
#barba-wrapper {
	position: relative;
}
