.question {
	width: 300px;
	height: 100px;
	color: var(--d-black);
	background-color: blue;

	@media (--tablet-landscape-up) {
		background-color: red;
	}

	@media (--tablet-portrait-up) {
		background-color: yellow;
	}

	a {
		@mixin ul-solid var(--link-ul-color);
		color: red;
		text-decoration: none;
		transition-duration: var(--animate-duration-micro);
		transition-timing-function: var(--animate-easing-standard);

		&:hover,
		&:focus {
			@mixin ul-solid var(--link-ul-a-color);
			color: var(--link-a-color);
		}
	}
}
