{% extends "./template.njk" %}

{% block title %}Парк техники{% endblock %}

{% block content %}
<div class="content">
	<div class="content__block wrapper">
		<div class="breadcrumbs">
			<ul class="breadcrumbs__list">
				<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Главная</a></li>
				<li class="breadcrumbs__item">404</li>
			</ul>
		</div>
		<div class="c-title">
			<h1 class="c-title__title">Страницы не существует</h1>
		</div>
	</div>
	
	<div class="content__block wrapper">
		<div class="not-found">
			<img data-src="./styles/images/404.jpg" alt="" class="lozad">
			<div class="not-found__wrapper-text">
				<strong>Упс...</strong>
				<div class="not-found__text">
					Кажется, такой страницы на сайте и не было
				</div>
				<div class="not-found__subtext">
					Попробуйте поискать нужную страницу с главной
				</div>
				<a href="/" class="button not-found__button">На главную</a>
			</div>
		</div>
	</div>
	
</div>
{% endblock %}
