{% extends "./template.njk" %}

{% block title %}Буксируемые кабельные цепи{% endblock %}

{% block content %}
<div class="content">
	<div class="wrapper">
		<div class="content__header">
			<div class="breadcrumbs">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">LAPP</a></li>
					<li class="breadcrumbs__item">Буксируемые кабельные цепи</li>
				</ul>
			</div>
			<h1 class="content__title">Буксируемые кабельные цепи</h1>
		</div>
	</div>
	<div class="content__wrapper wrapper">
		<nav class="content__nav c-nav">
			<ul class="c-nav__list">
				<li class="c-nav__item"><a href="/bucsir-category.html" class="c-nav__link lapp-link lapp-link_solid">Полиамидные</a></li>
				<li class="c-nav__item"><a href="/bucsir-category.html" class="c-nav__link lapp-link lapp-link_solid">Стальные</a></li>
				<li class="c-nav__item"><a href="/bucsir-category.html" class="c-nav__link lapp-link lapp-link_solid">Для применения в&nbsp;робототехнике</a></li>
				<li class="c-nav__item"><a href="#" class="c-nav__link lapp-link lapp-link_solid">Аксессуары</a></li>
			</ul>
		</nav>
		<div class="content__column">
			<div class="wysiwyg">
				<img src="./images/bucsir.jpg" alt="">
				<p>Буксируемые кабельные цепи (кабельные траки, гибкие или подвижные кабельные каналы) широко применяются для защиты кабелей, пневматических и&nbsp;гидравлических шлангов при динамическом движении.</p>
				<p>В&nbsp;зависимости от&nbsp;условий применения и&nbsp;необходимого функционала, мы&nbsp;предлагаем на&nbsp;Ваш выбор полиамидные и&nbsp;стальные кабельные цепи, а&nbsp;также индивидуальные решения на&nbsp;базе кабельных цепей (например, круговые цепи, цепи с&nbsp;несущей рамой) и&nbsp;кабельные цепи изготовленные из&nbsp;комбинированных материалов (боковые части конструкции из&nbsp;полиамида с&nbsp;внутренними рамками из&nbsp;алюминия и&nbsp;т.д.).</p>
				<p>Кабельные цепи, представленные под брендом SILVYN® CHAIN, производятся компанией BREVETTI Stendalto.</p>
				<p>Компания LAPP Group является официальным партнером BREVETTI Stendalto в&nbsp;России.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
