{% extends "./layout.njk" %}

{% block title %}Суперсайт{% endblock %}

{% block content %}

  <div class="wrapper content__section">
    <ul>
      <li><a href="" class="link">lalala</a></li>
      <li><a href="">lalala</a></li>
      <li><a href="">lalala</a></li>
      <li><a href="">lalala</a></li>
    </ul>

    <ol>
      <li><a href="">lalala</a></li>
      <li><a href="" class="link">lalala</a></li>
      <li><a href="">lalala</a></li>
      <li><a href="">lalala</a></li>
    </ol>

    <div class="title">Заголовок</div>
    <a href="#" class="link">Hello | Приветв</a>
    <svg><use href="./styles/icons/icons.svg#apple" /></svg>
  </div>
{% endblock %}
