{% extends "./layout.njk" %}

{% block title %}Суперсайт{% endblock %}

{% block content %}

  <div class="wrapper content__section">
    <div class="title">Заголовок</div>
    <a href="#" class="link">Hello | Приветв</a>
    <svg><use href="./styles/icons/icons.svg#apple" /></svg>
  </div>
{% endblock %}
