{% extends "./template.njk" %}

{% macro field(name, value='', type='text') %}
    <div class="field">
    <input type="{{ type }}" name="{{ name }}"
            value="{{ value | escape }}" />
    </div>
{% endmacro %}

{% set username = { a: 1, b: 2} %}
{% set items = [
                    { title: "Один", id: 1 },
                    { title: "Два", id: 2 },
                    { title: "Три", id: 3 },
                    { title: "End.", id: 3 }
               ] %}


{% block list %}
  <ul>
      {% for item in items %}
          <li>{{ item.title }}</li>
      {% else %}
          <li>Пусто</li>
      {% endfor %}
  </ul>
{% endblock %}

{% block function %}
    {{ field('user') }}
    {{ field('pass', 'value', 'password2') }}
{% endblock %}

{% block left %}
    This is the left side!
{% endblock %}

{% block header %}
    Шапка
{% endblock %}

{% block right %}
    888
    {% if username.b === 2 %}
        {{ super() }}
    {% endif %}

    {{ username.b }}

{% endblock %}

