* {
	box-sizing: border-box;
}

html {
	@media (--desktop-up) {
		font-size: 112.5%;
	}
}

body {
	background-color: white;
	color: var(--text-color);
	font-family: system-ui;
	line-height: 1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;

	&.disable-hover {
		pointer-events: none;
	}
}

h1,
h2,
h3,
h4 {
	margin-bottom: 0;
	margin-top: 0;
}

p {
	margin-bottom: 0;
	margin-top: 0;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 1em;
}

ol {
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 1em;
}

blockquote {
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

a,
button {
	transition-duration: var(--animate-duration-leave);
	transition-timing-function: var(--animate-easing-standard);

	svg {
		transition-duration: var(--animate-duration-leave);
		transition-timing-function: var(--animate-easing-standard);
	}

	&:hover,
	&:focus {
		transition-duration: var(--animate-duration-enter);
		transition-property: none;

		svg {
			transition-duration: var(--animate-duration-enter);
			transition-property: none;
		}
	}
}

input,
textarea {
	color: var(--text-color);
	font-family: system-ui;
	font-size: 1em;

	&::placeholder {
		color: var(--text-sub-color);
	}
}

select {
	font-family: system-ui;
	font-size: 1em;
}

button {
	font-family: system-ui;
	font-size: 1em;
}

.nobr {
	white-space: nowrap;
}

/* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
.visuallyhidden {
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	margin-top: -1px;
	overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
